@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

* {
    font-family: "Inter", sans-serif;
}
a.active {
    background: linear-gradient(90deg, #632EE3, #9F62F2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    border-bottom: 3px solid;
    border-image: linear-gradient(90deg, #632EE3, #cec0e0) 1;
    border-radius: 12px;
}

